.box {
    width: 480px;
    border: 1px solid black;
    padding: 25px;
    margin: 20px;
}

.inputBox {
    margin-bottom: 50px;
    margin-top: 20px;
}

.button {
    margin-left: 65%;
}

#outputDiv {
    margin-bottom: 20px;
    margin-top: 50px;
}